.header {
  background-color: #004047;
  margin-bottom: 90px;
}

.userName{
  color: #79C8C7;
}

.card-list {
  width: 400px;
  position: relative;
  background-color: #012F34;
}

.list-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 56px;
  height: 56px;
  background: #F67E7E  url("../img/plus.svg") center / 16px
    no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.list-btn:hover {
  background-color: #79C8C7;
}


.span {
  color: #fff;
}

.box-one {
  height: 100px;
  border: 5px solid rgb(255, 255, 255);
  background-color: royalblue;
}

.box-one__title {
  color: white;
}

.blue {
  height: 150px;
}

.blue__item {
  height: 150px;
  background-color: royalblue;
  border: 5px solid white;
}

.blue-big__item {
  height: 150px;
  background-color: royalblue;
  border: 5px solid white;
}

.bax-two {
  height: 200px;
  background-color: royalblue;
}